/* External font */
@font-face {
    font-family: Bogle Bold;
    src: url(font/bogle-cufonfonts/BOGLEBOLD.OTF);
}

@font-face {
    font-family: Bogle Regular;
    src: url(font/bogle-cufonfonts/BOGLEREGULAR.OTF);
}

@font-face {
    font-family: Bogle Italic;
    src: url(font/bogle-cufonfonts/BOGLEITALIC.OTF);
}


/* Font Bold, Regular, Italic Class */
.bogleReg {
    font-family: Bogle Regular;
}

.bogleBold {
    font-family: Bogle Bold;
}

.bogleItalic {
    font-family: Bogle Italic;
}





.form-control {
    width: 400px !important;
}

.container {
    max-width: 1300px;
}

h1 {
    text-align: center;
}

.hide-text   {
    display: none;
    text-align: center;
}

.custom-text {
    font-size: 20px !important;

}

.hover-container:hover .hide-text {
    display: block;
    /* background-color: blue; */
    color: white;
}

.hover-container {
    background: white; 
    height: 350px; 
    width: 23%;
}

.hover-container:hover {
    /* background-color: blue; */
    padding: 3px;
}

.hover-container:hover .img-hide {
    display: none;
}



/* Sweep Animation */ 



/* Sweep To Top */


.hover-container {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* padding: 8px 15px; */
    color: #fff;
    text-decoration: none;  
  }
  .hover-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: blue;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    /* -webkit-transform-origin: 50% 100%; */
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
    
  }
  .hover-container:hover, .hover-container:focus, .hover-container:active {
    color: white;
    
  }
  .hover-container:hover:before, .hover-container:focus:before, .hover-container:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

/* .hover-container {
    padding: 20px;
    background: lightgrey;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
  }
  .hover-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: blue;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease-out;
  }
  .hover-container:hover:hover {
    color: white;
  }
  .hover-container:hover:before {
    transform: scaleY(1);
  } */


