* {
    margin: 0;
    padding: 0;
}

/* External font */
@font-face {
    font-family: Bogle Bold;
    src: url(font/bogle-cufonfonts/BOGLEBOLD.OTF);
}

@font-face {
    font-family: Bogle Regular;
    src: url(font/bogle-cufonfonts/BOGLEREGULAR.OTF);
}

@font-face {
    font-family: Bogle Italic;
    src: url(font/bogle-cufonfonts/BOGLEITALIC.OTF);
}


/* Font Bold, Regular, Italic Class */
.bogleReg {
    font-family: Bogle Regular;
}

.bogleBold {
    font-family: Bogle Bold;
}

.bogleItalic {
    font-family: Bogle Italic;
}


/* Tab style */


.nav-link {
    width: 300px;
}

/* .nav-item:active {
    color: orange;
} */

.nav-item:hover {
    /* color: green; */
    background:#0064B7 ;
}

 .nav-item .a .active {   
    background: black;
    color: white;  
    border: 10px solid orange;
  }  